<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">N-glycosylation Sequon Parser</h4>
      <h6 class="card-subtitle mb-2 text-muted">An entirely javascript based N-glycosylation sequon parser.</h6>
      <hr class="my-4">
      <form>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="label-peptide">Peptide Summary</span>
            <input type="file" class="form-control" aria-label="peptide-summary" aria-describedby="label-peptide" #ifile (change)="fileHandler($event)">
          </div>
        </div>
      </form>
      <button type="submit" class="btn btn-primary">Process</button>
    </div>
  </div>
</div>



